﻿@model IEnumerable<Clinic.Models.Consultation>

@{
    ViewBag.Title = "Index";
}
@section scripts{
@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/jquery.signalR-2.2.0.js")
@Scripts.Render("~/Scripts/jquery.signalR-2.0.2.min.js")
@Scripts.Render("~/signalr/hubs")

    <script type="text/javascript">
        var connection;
        var hub;

        function addListeners() {
            var buttons = document.getElementsByClassName('notif');
            for (var i = 0; i < buttons.length; i++) {
                var button = buttons[i];
                button.addEventListener("click", notify, true);
            }
           var connection = $.hubConnection();
           var hub = connection.createHubProxy("NotificationHub");
           connection.start();

           function notify() {

               var doctorId = $(this).data("doctid");
               var patient = $(this).data("patientsur") + " " + $(this).data("patientname");
               alert(doctorId + " " + patient);
               try {
                   hub.invoke('send',doctorId,patient);
                   alert("invoked");
               }
               catch (err) {
                   alert("not invoked");
                   Console.writeline("Error" + ex.Message);
               }

           }
           hub.on("send", function (message) {
               alert(message);
           });
           };

        /*  
        - JavaScript runtime error: SignalR: SignalR is not loaded. Please ensure jquery.signalR-x.js is referenced before ~/signalr/js.
        chat.client.send = function (message) {
                alert(message);
            }
            hub.on("send", function (message) {
                alert(message);
            });
            
            $.connection.hub.start().done(function () {

            })*/
          

          
        
     
        window.addEventListener("load", addListeners,true);
    </script>
}
<h2>Consultations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Doctor Email
        </th>
        <th>Patient Surname
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th></th>
    </tr>

    
    @foreach (var item in Model)
    {
     
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                
                <input type="button" id="sendnotification" value="Notificate doctor" data-doctid="@item.Doctor.Id" data-patientsur="@item.Patient.Surname" data-patientname="@item.Patient.Name" class="notif" />
                
            </td>
        </tr>
    }
</table>


